*{
	box-sizing:border-box;
	font-family:Arial;
	line-height:1.80;
	font-family:"PT Sans Narrow", "Open Sans"
}
html{
	width:95%;
	margin:0 auto;
	background-color:#f2f1f4;
	color:#6a6d70;
}
header{
	text-align:center;
}
header img{
	width:150px;
}
nav{
	display:inline;
}
nav a{
	display:block;
	color:white;
	text-decoration:none;
	padding:15px;
	background-color:#30a894;
	text-align:center;
	font-size:0.9em;
}
main img{
	max-width:100%;
}
main h1,h2,h3{
	color:#30a894;
	text-transform:uppercase;
	font-weight:normal;
	line-height:2;
	margin:0;
}
h1,h2,h3{
	border-bottom: 1px solid #30a894;
}
span{
	color:#50b5b7;
}
aside{
	display:none;
}
footer{
	text-align:center;
}
footer a{
	text-decoration:none;
	color:#50b5b7;
}
/*Tablette*/
@media screen and (min-width:768px){
	aside{
		display:block;
		background-color: #b8dcb1;
		padding:15px;
		margin-bottom:30px;
		color:#314c35;
	}
}
/*Ordi*/
@media screen and (min-width: 1024px) {
	html{
		width:80%;
	}
	nav{
		display:block;
	}
	nav a{
		display:inline-block;
		width:calc(100%/3);
	}
	main{
		display:inline-block;
	}
	section{
		width:70%;
		display:inline-block;
		padding-right:10px;
		padding-top:10px;
	}
	aside{
		width:30%;
		display:inline-block;
		background-color: #b8dcb1;
		padding:15px;
		color:#314c35;
		vertical-align:top;
	}
	main{
		margin-bottom:30px;
	}
}